body{
  background: rgba(59,67,71,1);
}

h2{
  font-family: "Hype";
}

#contact{
  text-align: center;
  background-image: url(css-bg/earth.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 100px 0;
  -webkit-box-shadow: inset -4px -58px 75px -76px rgba(0,0,0,1);
-moz-box-shadow: inset -4px -58px 75px -76px rgba(0,0,0,1);
box-shadow: inset -4px -58px 75px -76px rgba(0,0,0,1);
}

#contact h2{
  margin: 50px 0;
}

#email{
  font-weight: 600;
  font-size: 30px;
  margin: 0;
}

#email i{
  padding-right: 15px;
}

#supporters{
  text-align: center;
  color: black;
  padding: 100px 0px;
  background: rgba(59,67,71,1);
  background: -moz-radial-gradient(center, ellipse cover, rgba(59,67,71,1) 0%, rgba(49,59,64,1) 38%, rgba(35,46,56,1) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(59,67,71,1)), color-stop(38%, rgba(49,59,64,1)), color-stop(100%, rgba(35,46,56,1)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(59,67,71,1) 0%, rgba(49,59,64,1) 38%, rgba(35,46,56,1) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(59,67,71,1) 0%, rgba(49,59,64,1) 38%, rgba(35,46,56,1) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(59,67,71,1) 0%, rgba(49,59,64,1) 38%, rgba(35,46,56,1) 100%);
  background: radial-gradient(ellipse at center, rgba(59,67,71,1) 0%, rgba(49,59,64,1) 38%, rgba(35,46,56,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b4347', endColorstr='#232e38', GradientType=1 );
  -webkit-box-shadow: inset -4px -58px 75px -76px rgba(0,0,0,1);
  -moz-box-shadow: inset -4px -58px 75px -76px rgba(0,0,0,1);
  box-shadow: inset -4px -58px 75px -76px rgba(0,0,0,1);
}

#supporters h2{
  color: #FFF;
  padding-bottom: 50px;
}

.owl-stage-outer{
  background-color: #FCFEFF;
  padding: 50px 0;
  border-radius: 5px;
  -webkit-box-shadow: inset -63px -16px 121px -97px rgba(0,0,0,1),inset 63px -16px 121px -97px rgba(0,0,0,1),10px 10px 46px -14px rgba(0,0,0,0.75);
  -moz-box-shadow: inset -63px -16px 121px -97px rgba(0,0,0,1),inset 63px -16px 121px -97px rgba(0,0,0,1),10px 10px 46px -14px rgba(0,0,0,0.75);
  box-shadow: inset -63px -16px 121px -97px rgba(0,0,0,1),inset 63px -16px 121px -97px rgba(0,0,0,1),10px 10px 46px -14px rgba(0,0,0,0.75);;
}

.owl-item.active.center img{
  filter: grayscale(0%) saturate(200%) !important;
  transform: scale(1.3);
    transition: 3.3s;
}

.owl-item.active img{
  filter: grayscale(0%) !important;
  transform: scale(1);
  transition: 3.3s;
}

.logo-thumb{
  height: 100px;
  width: auto;
  border: none;
  filter: grayscale(10%);
  transform: scale(.8);
  opacity: 0;
  transition: 3s;
}

.item{
  vertical-align: middle;
  text-align: center;
  margin: 0 20px;
}

.owl-carousel.owl-drag .owl-item img{
  width: auto;
}
.owl-stage .active{
  border: none !important;
}

@media only screen and (max-width:575.98px){

  .owl-item.active.center img{
    filter: grayscale(0%) saturate(200%) !important;
    transform: scale(1.1);
      transition: 3.3s;
  }

  .owl-item.active img{
    filter: grayscale(0%) !important;
    transform: scale(.8);
    transition: 3.3s;
  }
}
