body{
  background: rgba(59,67,71,1);
}

h2{
  font-family: "Hype";
}

#contact{
  text-align: center;
  background-image: url(css-bg/earth.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 100px 0;
  -webkit-box-shadow: inset -4px -58px 75px -76px rgba(0,0,0,1);
-moz-box-shadow: inset -4px -58px 75px -76px rgba(0,0,0,1);
box-shadow: inset -4px -58px 75px -76px rgba(0,0,0,1);
}

#contact h2{
  margin: 50px 0;
}

#email{
  font-weight: 600;
  font-size: 30px;
  margin: 0;
}

#email i{
  padding-right: 15px;
}

#supporters{
  text-align: center;
  color: black;
  padding: 100px 0px;
  background: rgba(59,67,71,1);
  background: -moz-radial-gradient(center, ellipse cover, rgba(59,67,71,1) 0%, rgba(49,59,64,1) 38%, rgba(35,46,56,1) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(59,67,71,1)), color-stop(38%, rgba(49,59,64,1)), color-stop(100%, rgba(35,46,56,1)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(59,67,71,1) 0%, rgba(49,59,64,1) 38%, rgba(35,46,56,1) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(59,67,71,1) 0%, rgba(49,59,64,1) 38%, rgba(35,46,56,1) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(59,67,71,1) 0%, rgba(49,59,64,1) 38%, rgba(35,46,56,1) 100%);
  background: radial-gradient(ellipse at center, rgba(59,67,71,1) 0%, rgba(49,59,64,1) 38%, rgba(35,46,56,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b4347', endColorstr='#232e38', GradientType=1 );
  -webkit-box-shadow: inset -4px -58px 75px -76px rgba(0,0,0,1);
  -moz-box-shadow: inset -4px -58px 75px -76px rgba(0,0,0,1);
  box-shadow: inset -4px -58px 75px -76px rgba(0,0,0,1);
}

#supporters h2{
  color: #FFF;
  padding-bottom: 50px;
}

.owl-stage-outer{
  background-color: #FCFEFF;
  padding: 50px 0;
  border-radius: 5px;
  -webkit-box-shadow: inset -63px -16px 121px -97px rgba(0,0,0,1),inset 63px -16px 121px -97px rgba(0,0,0,1),10px 10px 46px -14px rgba(0,0,0,0.75);
  -moz-box-shadow: inset -63px -16px 121px -97px rgba(0,0,0,1),inset 63px -16px 121px -97px rgba(0,0,0,1),10px 10px 46px -14px rgba(0,0,0,0.75);
  box-shadow: inset -63px -16px 121px -97px rgba(0,0,0,1),inset 63px -16px 121px -97px rgba(0,0,0,1),10px 10px 46px -14px rgba(0,0,0,0.75);;
}

.owl-item.active.center img{
  filter: grayscale(0%) saturate(200%) !important;
  transform: scale(1.3);
    transition: 3.3s;
}

.owl-item.active img{
  filter: grayscale(0%) !important;
  transform: scale(1);
  transition: 3.3s;
}

.logo-thumb{
  height: 100px;
  width: auto;
  border: none;
  filter: grayscale(10%);
  transform: scale(.8);
  opacity: 0;
  transition: 3s;
}

.item{
  vertical-align: middle;
  text-align: center;
  margin: 0 20px;
}

.owl-carousel.owl-drag .owl-item img{
  width: auto;
}
.owl-stage .active{
  border: none !important;
}

#social-media{
  background: #F8F8F8;

  -webkit-box-shadow: inset -4px -58px 75px -76px rgba(0,0,0,1);
  -moz-box-shadow: inset -4px -58px 75px -76px rgba(0,0,0,1);
  box-shadow: inset -4px -58px 75px -76px rgba(0,0,0,1);
}

#social{
  text-align: center;
  padding: 110px;
}

#social h2{
  color: #393939;
  margin-bottom: 40px;
}

.row{
  height: auto;
  margin: 0;
}

.col{
  padding: 0;
  margin: 0;
}

.social-media{
  width: 150px;
  height: 150px;
  margin: 30px;
  transition: .26s;
}

.social-media:hover{
  transition: .26s;
  filter: saturate(120%) drop-shadow(5px 5px 7.5px rgba(0,0,0,0.27));
  margin-top: 25px;
  margin-right: 25px;
}


#curator-feed{
  background-image: url(css-bg/earth_blur.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 30px 15%;
}

#curator-feed h2{
  text-align: center;
  margin-top: 30px;
}

.crt-post-v2 .crt-post-content-text a:hover{
  color: #F68E09 !important;
  text-decoration: none !important;
}

.crt-post .crt-post-footer a, .crt-post .crt-date{
    color: #FFF !important;
}

.crt-post-v2 .crt-post-c{
  background-color: rgba(0,0,0,0) !important;
}

.crt-post-v2 .crt-post-c{
  border-radius: 5px;
  -webkit-box-shadow: 25px 21px 95px -24px rgba(0,0,0,0.66);
  -moz-box-shadow: 25px 21px 95px -24px rgba(0,0,0,0.66);
  box-shadow: 25px 21px 95px -24px rgba(0,0,0,0.66);
  margin: 30px;
  margin-top: 60px;
}

.crt-post-v2 .crt-post-border{
    border: none !important;
}

.crt-popup-wrapper .crt-popup{
  -webkit-box-shadow: 25px 21px 95px -24px rgba(0,0,0,1);
  -moz-box-shadow: 25px 21px 95px -24px rgba(0,0,0,1);
  box-shadow: 25px 21px 95px -24px rgba(0,0,0,1);
}

.crt-post-footer{
  color: #FFF !important;
  background-color: rgba(0,0,0,.66) !important;
  border: none !important;
}

i.crt-icon-twitter, i.crt-icon-facebook, i.crt-icon-instagram{
  color: #FFF !important;
}

.crt-post .crt-post-content{
  color: #FFF !important;
  background-color: rgba(0,0,0,.5) !important;
}

.crt-post .crt-post-content-text{
  color: #FFF !important;
}
.crt-post-fullname a{
  color: #FFF !important;
}

.crt-popup-wrapper .crt-popup a{
    transition: .2s;
}

.crt-popup-wrapper .crt-popup a:hover {
  color: #FF5722 !important;
  transition: .2s;
}

img[alt="Embed Social Media Feeds on your website with Juicer!"]{
  display: none !important;
}

.crt-popup{
  background: none !important;
}

.crt-popup-wrapper .crt-popup .crt-popup-header{
  border: none !important;
      color: #FFF !important;
}

.crt-popup-wrapper .crt-popup .crt-popup-left{
    background: none !important;
    color: #FFF !important;
}

.crt-popup-wrapper .crt-popup .crt-popup-footer{
  background: none !important;
  color: #FFF !important;
  border: none !important;
}

.crt-popup-wrapper .crt-popup .crt-popup-right{
    color: #FFF !important;
}

.crt-popup-wrapper .crt-popup{
    background: none !important;

}
.crt-popup-right{
    background-color: rgba(0,0,0,.6) !important;
    border-radius: 5px;
}

.crt-popup-wrapper .crt-popup .crt-popup-right .crt-popup-text::-webkit-scrollbar-track{
    background: none !important;
}

.crt-popup-text-body a{
    color: #ff5722 !important;
}

.crt-popup-text-body a:hover{
  color: #FFF !important;
  text-decoration: none !important;
}

.crt-icon-cancel{
  color: #fff !important;
}

.crt-icon-cancel:hover{
    color: #ff5722 !important;
}

.crt-popup-wrapper .crt-popup .crt-popup-right a{
  color: #ff5722 !important;
}

.crt-popup-wrapper .crt-popup .crt-popup-right a:hover{
  color: #F68E09 !important;
}

@media only screen and (max-width: 767.98px){
  #social{
    padding: 40px 10px;
  }

  .social-media{
    width: 110px;
    height: 110px;
  }

  #curator-feed{
      padding: 0px;
      padding-top: 10px;
  }
  .crt-post-v2 .crt-post-c{
    margin: 10px;
    margin-top: 30px;
  }
}

@media only screen and (max-width:575.98px){

  .owl-item.active.center img{
    filter: grayscale(0%) saturate(200%) !important;
    transform: scale(1.1);
      transition: 3.3s;
  }

  .owl-item.active img{
    filter: grayscale(0%) !important;
    transform: scale(.8);
    transition: 3.3s;
  }
}
