body{
  background: url(css-bg/escheresque.png);
  background-attachment: fixed;
}

.logo-head{
  background-image: url(css-bg/stars.jpg);
  background-size: contain;
  background-attachment: fixed;
  width: 100%;
  margin-bottom: 0px;
  text-align: center;
}

img[alt="logo"]{
  margin: 80px auto;
  max-height: 350px;
  margin-bottom: 0;
  transition: .36s;
}

#fade{
  color: #FFFFFF;
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 13%, rgba(0,0,0,0.96) 82%, rgba(0,0,0,1) 85%, rgba(0,0,0,1) 95%);
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 13%,rgba(0,0,0,0.96) 82%,rgba(0,0,0,1) 85%,rgba(0,0,0,1) 95%);
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 13%,rgba(0,0,0,0.96) 82%,rgba(0,0,0,1) 85%,rgba(0,0,0,1) 95%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 );
  margin: 0;
  height: auto;
  bottom: 0px;
}

#fade h1{
  font-family: 'Hype';
  padding: 20px 0;
  font-size: 3.5em;
  transition: .36s;
}

#divider-top{
  background: -moz-linear-gradient(top, rgba(0,0,0,0.95) 0%, rgba(21,21,21,1) 29%, rgba(28,28,28,1) 39%);
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.95) 0%,rgba(21,21,21,1) 29%,rgba(28,28,28,1) 39%);
  background: linear-gradient(to bottom, rgba(0,0,0,0.95) 0%,rgba(21,21,21,1) 29%,rgba(28,28,28,1) 39%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2000000', endColorstr='#1c1c1c',GradientType=0 );
  margin-top: 0;
  padding: 17px 0;
  margin-bottom: 20px;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.4);
}

.card{
  text-align: center;
  border-radius: 15px;
  padding-right: 0;
  background-color: rgba(0,0,0,.50);
  color: white;
  height: 329px;
  width: 14rem;
  border: none;
  margin: 10px auto;
}

.card-title{
  font-weight: bold;
  margin: 15px 0px 5px 0px;
}

.card-img-top{
  border-radius: 50%;
  width: 50%;
  margin: 0 auto;
  margin-top: 20px;
}

.card-body{
  padding: 0px 0px;
  margin:auto 0;
  height: 20px;
}
.card-body p {
  font-size: 24px;
}

.card-overlay {
  font-weight: bold;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  color: white;
  background-color: rgba(0,0,0,.66);
  text-align: center;
  border-radius: 15px;
  box-shadow: 0px 0px 20px rgba(255, 87, 34, .23);
}

.card:hover .card-overlay {
  opacity: 1
}

.links{
  margin-top: 100px;
  padding: 10px 0;
}

.list-group-item{
  vertical-align: middle;
  background-color: transparent;
  padding: 5px 10px;
  border: none;
}

.members-link {
  font-size: 28px;
  text-decoration: none !important;
  margin: 20px 0;
  color: #FF5722;
}

.members-link:hover{
  color: #DA3B01;
}

#divider-bottom{
  background: -moz-linear-gradient(bottom, rgba(0,0,0,0.95) 0%, rgba(21,21,21,1) 29%, rgba(28,28,28,1) 39%);
  background: -webkit-linear-gradient(bottom, rgba(0,0,0,0.95) 0%,rgba(21,21,21,1) 29%,rgba(28,28,28,1) 39%);
  background: linear-gradient(to top, rgba(0,0,0,0.95) 0%,rgba(21,21,21,1) 29%,rgba(28,28,28,1) 39%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2000000', endColorstr='#1c1c1c',GradientType=0 );
  margin-bottom: 0;
  padding: 17px 0;
  margin-top: 20px;
  box-shadow: 0px -8px 10px rgba(0, 0, 0, 0.4);
}

@media only screen and (max-width: 767.98px){
  img[alt="logo"]{
    max-height: 300px;
    transition: .36s;
  }

  #fade h1{
    font-size: 2.5em;
    transition: .36s;
  }
}
