h2{
  font-family: "Hype";
}

#intro{
  background-image: url(css-bg/spacewalk.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 200px;
}

#intro h2{
  font-family: "Segoe UI";
  font-weight: 600;
}

#process{
  background-color: #F2F2F2;
  width: 100%;
  -webkit-box-shadow: inset 0px -93px 62px -97px rgba(89,89,89,1);
  -moz-box-shadow: inset 0px -93px 62px -97px rgba(89,89,89,1);
  box-shadow: inset 0px -93px 62px -97px rgba(89,89,89,1);
}

#process-title{
  color: #393939;
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
}

#process-steps{
  color: #FFF;
  padding: 80px 0;
  margin: 0;
}

.process{
  align-items: center;
  text-align: center;
  align-content: center;
  padding: 2%;
  margin: 20px 2%;
  font-size: 1.2em;
  border-radius: 7px;
  max-width: 375px;

  -webkit-box-shadow: 24px 24px 62px -25px rgba(0,0,0,0.77);
-moz-box-shadow: 24px 24px 62px -25px rgba(0,0,0,0.77);
box-shadow: 24px 24px 62px -25px rgba(0,0,0,0.77);
}

#brainstorm{
  background: rgb(230,92,0);
  background: -moz-linear-gradient(45deg, rgba(230,92,0,1) 0%, rgba(249,212,35,1) 100%);
  background: -webkit-linear-gradient(45deg, rgba(230,92,0,1) 0%,rgba(249,212,35,1) 100%);
  background: linear-gradient(45deg, rgba(230,92,0,1) 0%,rgba(249,212,35,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e65c00', endColorstr='#f9d423',GradientType=1 );


}

#develop{
  background: rgb(56,239,125);
background: -moz-linear-gradient(45deg, rgba(56,239,125,1) 0%, rgba(17,153,142,1) 100%);
background: -webkit-linear-gradient(45deg, rgba(56,239,125,1) 0%,rgba(17,153,142,1) 100%);
background: linear-gradient(45deg, rgba(56,239,125,1) 0%,rgba(17,153,142,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#38ef7d', endColorstr='#11998e',GradientType=1 );
}

#test{
  background: rgb(5,117,230);
background: -moz-linear-gradient(-45deg, rgba(5,117,230,1) 0%, rgba(2,27,121,1) 100%);
background: -webkit-linear-gradient(-45deg, rgba(5,117,230,1) 0%,rgba(2,27,121,1) 100%);
background: linear-gradient(135deg, rgba(5,117,230,1) 0%,rgba(2,27,121,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0575e6', endColorstr='#021b79',GradientType=1 );
}

.process h3{
  font-weight: 600;
}

img[alt="step"]{
  filter: drop-shadow(3px 3px 5px rgba(0,0,0,0.22));
  width: 150px;
  height: auto;
  margin: 20px auto;
}

#ui{
  margin: 0;
  padding: 250px 0;
  padding-right: 0;
  background-image: url(css-bg/3dUI.jpg);
  background-position: left;
  background-size: cover;
  transition: .36s;
}

#ui-text{
  margin-left: 15%;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.3);
}

#research{
  margin: 0;
  padding: 0;
}

#research-info{
  color: #FFF;
  background-color: #F9FAFA;
  padding: 0;
}

#research-text{
  top: 50%;
  position: absolute;
  padding: 20px 5%;
  margin-right: 17%;
  transform: translate(0, -50%);
  border-radius: 5px;

  background: rgb(20,121,204);
  background: -moz-linear-gradient(45deg, rgba(20,121,204,.8) 0%, rgba(28,38,175,.8) 100%);
  background: -webkit-linear-gradient(45deg, rgba(20,121,204,.8) 0%,rgba(28,38,175,.8) 100%);
  background: linear-gradient(45deg, rgba(20,121,204,.8) 0%,rgba(28,38,175,.8) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1479cc', endColorstr='#1c26af',GradientType=1 );


  -webkit-box-shadow: 24px 24px 62px -25px rgba(0,0,0,0.77);
  -moz-box-shadow: 24px 24px 62px -25px rgba(0,0,0,0.77);
  box-shadow: 24px 24px 62px -25px rgba(0,0,0,0.77);
}

#research-image{
  padding: 0;
}

#fade{
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0);
    background: rgba(255,255,255,0);
    background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(249,250,250,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,0)), color-stop(100%, rgba(249,250,250,1)));
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(249,250,250,1) 100%);
    background: -o-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(249,250,250,1) 100%);
    background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(249,250,250,1) 100%);
    background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(249,250,250,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f9fafa', GradientType=1 );

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
}

img[alt="research"]{
  width: 100%;
}

#outreach{
  margin: 0;
}

#outreach-info{
  text-align: right;
  background-color: #171717;
  margin: 0;
  background: rgb(32,42,51);
}

#outreach-text{
  top: 50%;
  position: absolute;
  transform: translate(0, -50%);
  margin: 7%;
  margin-left: 17%;
}

#outreach-image{
  margin:0;
  padding: 0;
  overflow: hidden;
}

img[alt="riverside"]{
  width: 100%;
}

@media (max-width: 991.98px){

  #intro{
    padding: 80px;
  }

  #ui{
    padding: 100px 0;
    transition: .36s;
  }
  #ui-text{
    text-align: center;
    padding: 0 20px;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 767.98px){

  #intro{
    padding: 80px 15px;
  }

  #process-title{
    margin-bottom: 30px;
  }

  .process{
    margin: 20px 15px;
  }

  #ui{
    padding: 80px 0;
    transition: .36s;
    background-position: right;
  }

  #fade{
    background: rgba(255,255,255,0);
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(249,250,250,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(100%, rgba(249,250,250,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(249,250,250,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(249,250,250,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(249,250,250,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(249,250,250,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f9fafa', GradientType=0 );
  }

  #research-text{
    top: 0;
    position: relative;
    transform: translate(0, 0);
    text-align: center;
    padding: 10px;
    margin: 0;
    box-shadow: none;
    background: none;
    color: #393939;
    padding: 30px;
  }

  #outreach-info{
    text-align: center;
  }

  #outreach-text{
    top: 0;
    position: relative;
    transform: translate(0, 0);
    margin: 0;
    padding: 30px;
  }
}
